/** Week day header **/
table.fc-col-header {
    background-color: #F6F6F6;
}

/** Grid divider lines **/
.fc .fc-timegrid-slot {
    height: 5em;
    vertical-align: top;
    font-size: 14px;
}

/** All-day label **/
.fc .fc-timegrid-axis-cushion {
    font-size: 14px;
}

/** All-day row **/
table.fc-scrollgrid-sync-table {
    background-color: #FFFBFE;
}

/** Today column background **/
.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: #FFE4F9;
}

/** Divider between all-day slot and rest of calendar **/
.fc .fc-timegrid-divider {
    padding: 0px;
}

/** Now indicator color **/
.fc .fc-timegrid-now-indicator-arrow,
.fc .fc-timegrid-now-indicator-line {
    border-color: magenta;
}

/** Now indicator line **/
.fc .fc-timegrid-now-indicator-line {
    border-style: dotted;
    border-width: 2px 0 0;
}

/** Buttons **/
.fc .fc-button-primary:disabled,
.fc .fc-button {
    border-radius: 0;
    border: 2px solid mediumpurple;
    background-color: rebeccapurple;
}

/** Cursor for hovered buttons **/
.fc-event[href], .fc-event.fc-event-draggable,
.fc .fc-button:not(:disabled) {
    cursor: url('./cursorlink.gif'), auto;
}

/** Color for hovered buttons **/
.fc .fc-button-primary:hover {
    background-color: darkorchid;
}

/** Style for disabled button **/
.fc .fc-button-primary:disabled {
    background-color: rebeccapurple;
    cursor: url('./cursor.gif'), auto;
}

/** Rainbow animation for weekend headers **/
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

/** Rainbow animation keyframes for weekend headers **/
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/** Rainbow weekend headers **/
th.fc-col-header-cell.fc-day-sun,
th.fc-col-header-cell.fc-day-sat {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

/** Background color for table **/
div.fc-timegrid {
    background-color: white;
}

/** Now indicator arrow **/
.fc .fc-timegrid-now-indicator-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.fc-theme-standard {
    height: 97vh;
}

/** Calendar events **/
a.fc-timegrid-event {
    border-radius: 0;
}

/** ---------------- **/
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}