/** Week day header **/
table.fc-col-header {
    background-color: rebeccapurple;
}

/** Grid divider lines **/
.fc .fc-timegrid-slot {
    height: 5em;
    vertical-align: top;
    font-size: 14px;
}

/** All-day label **/
.fc .fc-timegrid-axis-cushion {
    font-size: 14px;
}

/** All-day row **/
table.fc-scrollgrid-sync-table {
    background-color: #fffbfe;
}

/** Today column background **/
.fc .fc-daygrid-day.fc-day-today,
.fc .fc-timegrid-col.fc-day-today {
    background-color: #ffe4f9;
}

/** Divider between all-day slot and rest of calendar **/
.fc .fc-timegrid-divider {
    padding: 0px;
}

/** Now indicator color **/
.fc .fc-timegrid-now-indicator-arrow,
.fc .fc-timegrid-now-indicator-line {
    border-color: magenta;
}

/** Now indicator line **/
.fc .fc-timegrid-now-indicator-line {
    border-style: dotted;
    border-width: 2px 0 0;
}

/** Buttons **/
.fc .fc-button-primary:disabled,
.fc .fc-button {
    border-radius: 0;
    border: 2px solid mediumpurple;
    background-color: rebeccapurple;
}

/** Cursor for hovered buttons **/
.fc-event[href],
.fc-event.fc-event-draggable,
.fc .fc-button:not(:disabled) {
    cursor: url('../resources/cursor-link.gif'), auto;
}

/** Color for hovered buttons **/
.fc .fc-button-primary:hover {
    background-color: darkorchid;
}

/** Style for disabled button **/
.fc .fc-button-primary:disabled {
    background-color: rebeccapurple;
    cursor: url('../resources/cursor.gif'), auto;
}

/** Rainbow animation for weekend headers **/
.rainbow_text_animated {
    background: linear-gradient(
        to right,
        #6666ff,
        #0099ff,
        #00ff00,
        #ff3399,
        #6666ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

/** Rainbow animation keyframes for weekend headers **/
@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/** Big date **/
.fc-toolbar-title {
    color: rebeccapurple;
}

/** Day of the week names **/
.fc-col-header {
    color: white;
}

/** Rainbow weekend headers **/
.fc-day-sun .fc-col-header-cell-cushion,
.fc-day-sat .fc-col-header-cell-cushion {
    background: linear-gradient(
        to right,
        #6666ff,
        #0099ff,
        #00ff00,
        #ff3399,
        #6666ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

/** Background color for table **/
div.fc-timegrid {
    background-color: white;
}

/** Now indicator arrow **/
.fc .fc-timegrid-now-indicator-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.fc-theme-standard {
    height: 97vh;
}

/** Try to improve resizer being finicky in safari (it's still a problem) **/
.fc-v-event:not(.fc-event-selected) .fc-event-resizer {
    height: var(--fc-event-resizer-thickness, 20px);
}

/** Calendar events **/
a.fc-timegrid-event {
    border-radius: 0;
    padding: 5px 5px 10px 5px;
}

.calendar-default-event {
    border-left: 5px solid #3788d8;
}

.calendar-meeting-event {
    background-color: #c70039;
    border: 0px;
    border-left: 5px solid #c70039;
}

.all-day-work-event {
    background-color: #c70039;
    border: 0px;
    border-left: 5px solid #c70039;
}

.calendar-focusmate-work-event {
    background-color: #cc758e;
    border: 0px;
    border-left: 5px solid #c70039;
}

.calendar-focusmate-personal-event {
    background-color: #cc75c8;
    border: 0px;
    border-left: 5px solid #d028c8;
}

.calendar-personal-event {
    background-color: #d028c8;
    border: 0px;
    border-left: 5px solid #d028c8;
}

.past-event {
    opacity: 0.6;
}

.tbd-highlight .fc-event-title {
    background-color: yellow;
    color: black;
}

/** ---------------- **/
.rainbow_text_animated {
    background: linear-gradient(
        to right,
        #6666ff,
        #0099ff,
        #00ff00,
        #ff3399,
        #6666ff
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
